%discharge-m-p {
  margin: 0;
  padding: 0;
}

%block--alignment {
  margin-left: auto;
  margin-right: auto;
}

%flex--alignment {
  display: flex;
  align-items: center;
  justify-content: center;
}

// @extend %flex--alignment;

%flex--align-items {
  display: flex;
  align-items: center;
}
