/* Клиенты компании */
.container .customers {
  margin-top: 94px;
}

.customers--list {
  // display: flex;
  // align-items: center;
  @extend %flex--align-items;
  justify-content: space-evenly;
}

.customers--item {
  margin-right: 30px;
  margin-top: 50px;
  align-items: center;

&:last-child {
  margin-right: 0;
}
}
.customers--link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;


&:hover,
&:hover .customers--svg,
&:focus,
&:focus .customers--svg {
  fill: $accent--color;
  border-color: $accent--color;
}
}