/* Клиенты компании */
.container .customers {
  margin-top: 94px;
}

.customers--list {
  @extend %flex--align-items;
  justify-content: space-evenly;
}

.customers--item {
  margin-right: 30px;
  margin-top: 50px;
  align-items: center;

&:last-child {
  margin-right: 0;
}
}
.customers--link {
  @extend %flex--alignment;
  display: inline-flex;
  // justify-content: center;
  // align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;

&:hover{
  @extend %customers--link;
}
&:hover .customers--svg{
  @extend %customers--link;
}
&:focus{
  @extend %customers--link;
}
&:focus .customers--svg {
  @extend %customers--link;
}
}