/* Клиенты компании */
.container .customers {
  margin-top: 94px;
}

.customers--list {
  // @extend %block--alignment;

  @media screen and (min-width: 480px){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    // background-color: blue;
  }
  @media screen and (min-width: 1200px){
    flex-wrap: nowrap;
  }

}

.customers--item {
  width: 100%;


  @media screen and (min-width: 480px){
        flex-basis: 42%;
    // background-color: red;

  }
  @media screen and (min-width: 768px){
        flex-basis: 26%;
    // background-color: red;

  }
  @media screen and (min-width: 1200px){
    flex-basis: 22%;
    margin-right: 30px;
    &:last-child {
        margin-right: 0;
      }

  }
  // margin-right: 30px;
  margin-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

//
}
.customers--link {
  @extend %flex--alignment;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;

&:hover{
  @extend %customers--link;
}
&:hover .customers--svg{
  @extend %customers--link;
}
&:focus{
  @extend %customers--link;
}
&:focus .customers--svg {
  @extend %customers--link;
}
}