
/* Команда разработчиков */
.command {
  height: 702px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 94px;
  padding-top: 94px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f4fa), to(#f5f4fa));
  background-image: -o-linear-gradient(#f5f4fa, #f5f4fa);
  background-image: linear-gradient(#f5f4fa, #f5f4fa);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px auto;
}
.container .command {
  margin-top: 94px;
}

.command--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 94px;
}

.command--item {
  margin-right: 30px;
  margin-top: 50px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.command--item:last-child {
  padding: 0;
}

.command--title {
  margin: 0;
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $title--dark;
}

.command--text {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 10px;
  text-align: center;
  color: $text--dark;
}

.command--soshial {
  @extend %flex--alignment;
  margin-top: 16px;
}

.command--soshial-item {
  margin-left: 10px;
  background: #ffffff;

&:first-child {
  margin-left: 0px;
}
}
.command--soshial-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.command--soshial-link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;

&:hover{
  @extend %command--soshial-link;
}
&:focus {
  @extend %command--soshial-link;
}

&:hover .command--soshial-svg{
  @extend %command--soshial-svg;
}
&:focus .command--soshial-svg {
  @extend %command--soshial-svg;
}
}