/* Панель навигации */
.nav {
  @extend %flex--alignment;
}

.nav--list {
  display: flex;
  margin-left: 85px;

  & .nav--item + .nav--item {
    margin-left: 50px;
  }
}
.nav--link {
  display: block;
  @include styles--font(14px, 1.14, 0.02em, 500);
  padding-top: 32px;
  padding-bottom: 32px;
  color: $text--dark;

  &:hover {
    @extend %nav--link;
  }
  &:focus {
    @extend %nav--link;
  }
}

.nav--link1 {
  @extend %flex--alignment;
  @extend .nav--link;

  &:hover {
    @extend %nav--link;
  }
  &:focus {
    @extend %nav--link;
  }

  &:hover .nav--item1-svg {
    @extend %nav--link1-hover--nav-item1--svg;
  }
  &:focus .nav--item1-svg {
    @extend %nav--link1-hover--nav-item1--svg;
  }
}

.nav--link-active {
  color: $accent--color;
  padding-bottom: 0px;

  &::after {
    content: '';
    display: block;
    width: auto;
    height: 4px;
    margin-top: 28px;
    background: $accent--color;
    border-radius: 2px;
  }
}
.nav--contact {
  display: flex;
  margin-left: auto;

  & .nav--item1 + .nav--item1 {
    margin-left: 30px;
  }

  & .nav--item1 + .nav--item1:nth-child(3) {
    margin-left: 30px;
  }
}

.nav--item1-svg {
  margin-right: 10px;
}
