// * Портфолио - шапка*/
.container .portfolio {
  margin-top: 93px;
}

.portfolio .btn--list {
  @extend %flex--alignment;

.portfolio .btn--item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}
}
.portfolio .btn--text {
  display: inline-block;
  height: 38px;
  font-family: $main-font;
  @include styles--font(16px, 1.62, 0.03, 500);
  border-color: #f5f4fa;
  border-style: none;
  border-radius: 4px;
  color: $btn--dark;
  background-color: #f5f4fa;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 14px;
  padding-right: 14px;

  &:hover{
    @extend %portfolio--btn-text--hover;
  }
  &:focus {
    @extend %portfolio--btn-text--hover;
  }
}