html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: $text--dark;
}

ul {
  list-style: none;
}
.img {
  display: block;
}
a {
  text-decoration: none;
}
